.join {
  padding-left: 70px;
  padding-top: 12px;
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);
    padding-bottom: 20px;
  }
  &__box {
    display: flex;
    gap: 10px;
  }
  &__social-media {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    &:hover {
      background: var(--color-active);
    }
  }
  &__icon {
    fill: var(--color-light);
  }
}
