.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  &__word {
    color: var(--logo-color-dark);
  }
  &--dark {
    color: var(--logo-color);
  }
  &__word-secondary {
    color: var(--color-light);
  }
}
